body {
    background-image: url('img.avif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: rgb(59, 45, 9);
}
.nav{

    display: flex;
    justify-content: space-around;
    padding-top: 28px ;
}

#name{
    margin-left: -75px;
    font-size: 30px;
    color: rgb(59, 45, 9);
}
#home{
    margin-left: 400px;
    font-size: 20px;
    color: rgb(59, 45, 9);

}
#home1{
    text-decoration: none;
    color: rgb(59, 45, 9);
}
#cont1{
    text-decoration: none;
    color: rgb(59, 45, 9);
}
#butt1{
    text-decoration: none;
    color: rgb(59, 45, 9);
}
#cont{
    font-size: 20px;
    color: rgb(59, 45, 9);

}
#btn{
    font-size: 20px;
    border-radius: 40%;
    cursor: pointer;
    padding: 4px 6px;
    color: rgb(59, 45, 9);
    background-color: rgb(141, 170, 88);
}
.task{
padding: 80px 0px;
    display: flex;
 justify-content: center;
 flex-direction: column;

}
#para{
    display: flex;
    justify-content: center;
}
#inp{
   text-align: center;
   color: rgb(59, 45, 9);
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 100px ;
    border-radius: 40px;

}
.task1{
    display:flex ;
    justify-content: space-around;

}
#btn4{
    margin-left: 750px;
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 20px;
    color: rgb(59, 45, 9);
    background-color: rgb(141, 170, 88);
}
#btn5{
    border-radius: 30px;
padding: 4px 8px;
font-size: 20px;
color: rgb(59, 45, 9);
background-color: rgb(141, 170, 88);
}
#para1{
    font-size: 20px;
    color: rgb(59, 45, 9);
}
.task-butt{
    font-size: 20px;
    color: rgb(59, 45, 9);
margin-left:610px ;
padding: 15px 10px;
border-radius: 40px;
background-color: rgb(141, 170, 88);
}
#taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#taskCount{
    font-size: 20px;
    color: rgb(59, 45, 9);
}